<style>
    a {
        color: blue;
    }
</style>
</style>
<div class="row">
    <div class="col-sm-4">
        <p style="color: red">This is inline style</p>
        <a>This is embedded style</a>
        <h4>This is external style</h4>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>